<ion-row class="ion-text-center ion-justify-content-center ion-align-items-center">
  <ion-col size-xl="4" size-lg="8" size-md="10" size-sm="10" size-xs="10">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Giriş</ion-card-title>
        <ion-card-subtitle>PERKO S.S. Kooperatifi</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>