<ion-split-pane contentId="content">
  <ion-menu contentId="content" menuId="main-menu" type="overlay">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <p-panelMenu [model]="items"></p-panelMenu>
    </ion-content> -->
    <ion-content class="menu-content">
      <!-- <div class="menu-header"> -->
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="../../../assets/test.jpeg" alt="">
        <ion-label>
          <h2>Safa Emre YILDIRIM</h2>
          <p>Bilgisayar Mühendisi</p>
        </ion-label>
      </div>
      <p-panelMenu [model]="items"></p-panelMenu>
      <!-- </div> -->
    </ion-content>
  </ion-menu>
  <ion-content id="content" fullscreen="true">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-split-pane>