ion-split-pane{
    --side-width: 10vw;
    --border: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');




.menu-header{
    min-height: 100vh;
    background: #b4c5dd;
}
.menu-header-bg {
    height: 200px;
    width: 120%;
    background: #7590d6;
    background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -15px;
    margin-top: -60px;
    margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 8px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    img {
        width: 80px;
 
        border-radius: 50%;
        border: 7px solid #5e7ccc;
    }

    ion-label{
        padding-left: 5px;
        
    }
}

.menu-content{
    --background: #b4c5dd;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
}


