<ion-content color="light">
    <ion-header>
        <ion-toolbar class="main-header">
            <ion-buttons slot="start">
                <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-buttons>
            <ion-title>PERKO Üye</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-grid class="ion-justify-content-center ion-align-items-center">
        <ion-row>
            <ion-col size="6">
                <ion-row>

                    <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                                <ion-card-title>Card Title</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                Keep close to Nature's heart... and break clear away, once in awhile,
                                and climb a mountain or spend a week in the woods. Wash your spirit clean.
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                                <ion-card-title>Card Title</ion-card-title>
                            </ion-card-header>

                            <ion-card-content>
                                Keep close to Nature's heart... and break clear away, once in awhile,
                                and climb a mountain or spend a week in the woods. Wash your spirit clean.
                            </ion-card-content>
                        </ion-card>

                    </ion-col>
                    <ion-col size="12">
                        <app-my-credits></app-my-credits>

                    </ion-col>

                </ion-row>

            </ion-col>
            <ion-col size="6">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
                        <ion-card-title>Card Title</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                        Keep close to Nature's heart... and break clear away, once in awhile,
                        and climb a mountain or spend a week in the woods. Wash your spirit clean.
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>


    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>ion-item in a card, icon left, button right</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item href="#" class="ion-activated">
            <ion-icon name="wifi" slot="start"></ion-icon>
            <ion-label>Card Link Item 1 activated</ion-label>
        </ion-item>

        <ion-item href="#">
            <ion-icon name="wine" slot="start"></ion-icon>
            <ion-label>Card Link Item 2</ion-label>
        </ion-item>

        <ion-item class="ion-activated">
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Card Button Item 1 activated</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="walk" slot="start"></ion-icon>
            <ion-label>Card Button Item 2</ion-label>
        </ion-item>
    </ion-card>
    <ion-footer class="main-footer" translucent="true">
        <ion-toolbar>
            <ion-title>PERKO Üye</ion-title>
        </ion-toolbar>
    </ion-footer>
</ion-content>