@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.main-footer{
    position: fixed;
    bottom: 0;

}

.main-footer ion-toolbar{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 1px 15px rgba(98, 140, 255, 0.5);
    --opacity:"1"
}
.main-header{

    box-shadow: 0px 1px 15px rgba(98, 140, 255, 0.5);

    font-family: 'Poppins', sans-serif;

}

.col-div{
    width: 100;
    height: 250;
    background-color: yellow;
}